.new-background-color {
    --background: #00008B;
    --color: #ffffff;
}
.card-background-color {
    --background: rgb(255, 255, 255);
    --color: #111;
}
div {
    margin-top: 5px;
}
.icon {
    flex-direction: column;
    display: block;
}
ion-modal#modal {
    --width: 80%;
    --height: 30%;
}
.modalBottom{
    margin-bottom:0px;
}
.submit-enter {
    position: absolute;
    visibility: hidden;
    left: -1000px;
}
